<article class="repository-overview-container margin-sm col-lg-4 col-md-4 col-sm-6 col-xs-12" data-repository-url="/* Repository url */">
  <section class="repository-overview text-left">
    <h2> <%= data.name %> </h2>
    <h3> <%= data.owner %> </h3>
    <hr />
    <article class="repositiory-description">
      <%= data.description %>
    </article>
    <hr />
    <article class="repository-stats">
      <h4>Statistics</h4>
      <ul class="list-group repository-stats-list">
        <li class="list-group-item icon-list-item last-update-icon">Last updated on <%= data.pushed_at %></li>
        <li class="list-group-item icon-list-item contributor-icon">70 contributors</li>
        <li class="list-group-item icon-list-item fork-icon"><%= data.forks_count %> forks</li>
        <li class="list-group-item icon-list-item commit-icon">356 commits</li>
        <li class="list-group-item icon-list-item issue-icon"><%= data.open_issues_count %> open issues</li>
      </ul>
    </article>
  </section>
</article>
